RewriteEngine on
# если папка или файл реально существуют, используем их
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# если нет Ч отдаЄм всЄ index.php
RewriteRule . index.php